menu "Generic ARM Soc Hotplug drivers"

# Alucard hotplug
source "arch/arm/hotplug/alucard/Kconfig"

# AutoSMP hotplug
source "arch/arm/hotplug/autosmp/Kconfig"

# Intelli_plug
source "arch/arm/hotplug/intelli_plug/Kconfig"

endmenu
